@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  background: #4e89fd;
  background: -webkit-linear-gradient(to right, #4e89fd 39%, #81c3fd 91%);
  background: -moz-linear-gradient(to right, #4e89fd 39%, #81c3fd 91%);
  background: linear-gradient(to right, #4e89fd 39%, #81c3fd 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}